<% provide(:title, @entry.title) %>

<ul class="nav">
  <li class="nav-item">
    <%= link_to "back", entries_path %>
  </li>

  <% if user_signed_in? %>
    <li class="nav-item">
      | <%= link_to "edit", edit_entry_path(@entry) %>
    </li>

    <li class="nav-item">
      | <%= link_to "delete", entry_path(@entry), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<p>
  <%= @entry.body.html_safe %>
</p>
