<p>
  Hey there <%= @resource.email %>!
<p>

<p>
  Rumor has it that you've lost your password.  Those things don't grow on trees you know.  Seriously, paswords just virtual ones and zeroes.  An actual password tree would be seriously freaky.  Anyhoo, click on this link to get a new one:
</p>

<p>
  <%= @reset_password_url %>
</p>

<p>
  -Captain Coder
</p>

<p>
  P.S.  I like cheese.
</p>
