<% provide(:title, "Blog") %>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr id="article_<%= article.id %>">
        <td>
          <a href="/articles/<%= article.id %>">
            <%= article.name %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New", new_article_path %>
</p>
