<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr id="article_<%= article.id %>">
        <td><%= article.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
