<% provide(:title, @article.name) %>

<p>
  <%= link_to "Back", articles_path %>
</p>

<p class="article_title">
  <%= @article.name %>
</p>

<p>
  Body: <%= @article.body %>
</p>

<o>
  <%= link_to "Delete", article_path(@article), :method => :delete, :data => { :confirm => "Are you sure?" } %>
</p>
