/*
 *= require_self
 *= require_tree .
 */

.app {
  color: black;
  font-family: sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  width:  700px;
  word-wrap: break-word;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

.entries-list {
  list-style-type: none;
  padding-left: 0;
}

.entry-title {
  font-weight: 700;
}

.entry-item {

}

.navbar-item {
  display: inline;
}

.navbar-head {
  font-size: 2em;
}
