/*
 *= require_self
 *= require_tree .
 */

body {
  color: black;
  font-family: sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  width:  700px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

.articles_list {
  list-style-type: none;
  padding-left: 0;
}

.article_title {
  font-weight: 700;
}

.navbar_item {
  display: inline;
}

.navbar_head {
  font-size: 2em;
}
