/* header nav bar */

.head-nav-head,
.head-nav-item { display: inline; }

.head-name { font-size: 36px; }

.head-nav {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0px -15px 15px -15px;
  padding: 0px 15px 15px 15px;
}

.head-nav-link {
  color: black;
  text-decoration: none;
}

.head-nav-item { margin: 0px 0px 0px 30px; }

/* general nav bar */

.nav { margin: 0px 0px 30px 0px}

.nav-item { display: inline; }

/* individual entry */
