#site-name {
  font-size: 36px;
}

#site-navbar {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0px -15px 0px -15px;
  padding: 0px 15px 15px 15px;
}

#site-navbar a {
  color: black;
  text-decoration: none;
}

.navbar-head, .navbar-item {
  display: inline;
}

.navbar-item {
  margin: 0px 0px 0px 30px;
}
